@font-face { font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; }
    @font-face { font-family: 'NanumBarunGothic'; 
       font-style: normal; 
       font-weight: 400; 
       src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); 
       src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') 
       format('embedded-opentype'), 
       url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') 
       format('woff'), 
       url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') 
       format('truetype'); } 
       @font-face { font-family: 'NanumBarunGothic'; 
           font-style: normal; font-weight: 700; 
           src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); 
           src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') 
           format('embedded-opentype'), 
           url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') 
           format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') 
           format('truetype') } 
           @font-face { font-family: 'NanumBarunGothic'; font-style: normal; 
               font-weight: 300; 
               src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); 
               src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') 
               format('embedded-opentype'), 
               url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') 
               format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') 
               format('truetype'); } .nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }
body{
    background-color: #dba522;
}
.top{
    justify-content: center;
    display: flex;
    font-size: 100px;
    height: 8.4%;
    margin-bottom: 1%;
    border: 1px solid red;
}
.top img{
    height: 8.4%;
}
.left{
    justify-content: center;
    display: inline-flex;
    width: 49%; height: 81.2%;
    margin-bottom: 1%;
    flex-wrap: wrap;
}
.right{
    justify-content: flex-end;
    display: inline-flex;
    width: 49%; height: 81.2%;
    margin-bottom: 1%;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid red;
}
.right1{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    height: 4.35%;
    border: 1px solid red;
}
.right2{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 4.35%;
    border: 1px solid red;
}
.right2 select{
    height: 4.35%;
}
.right3{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 11.6%;
    border: 1px solid red;
}
.bottom{
    justify-content: center;
    display: flex;
    height: 8.4%;
    border: 1px solid red;
}
.left-map{
    position: fixed;
    top: 22%; left: 0.5%;
    width: 48%; height:70%;
    border: 1px solid blue;
}