@font-face { font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; }
    @font-face { font-family: 'NanumBarunGothic'; 
       font-style: normal; 
       font-weight: 400; 
       src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); 
       src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') 
       format('embedded-opentype'), 
       url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') 
       format('woff'), 
       url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') 
       format('truetype'); } 
       @font-face { font-family: 'NanumBarunGothic'; 
           font-style: normal; font-weight: 700; 
           src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); 
           src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') 
           format('embedded-opentype'), 
           url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') 
           format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') 
           format('truetype') } 
           @font-face { font-family: 'NanumBarunGothic'; font-style: normal; 
               font-weight: 300; 
               src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); 
               src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') 
               format('embedded-opentype'), 
               url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') 
               format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') 
               format('truetype'); } .nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }
body{
    background-color: #dba522;
    font-family: 'NanumBarunGothic';
}
.top{
    justify-content: center;
    display: flex;
    margin-bottom: 1%;
    height: 40px;
    /* border: 1px solid red; */
}
.top img{
    width: 100%;
    position: fixed;
}
.left{
    justify-content: center;
    display: inline-flex;
    width: 49%; height: 81.2%;
    margin-bottom: 1%;
    flex-wrap: wrap;
}
.left-map{
    position: fixed;
    top: 11%;
    width: 490px; height:500px;
    border: 1px solid blue;
}
.left-map .route{
    width: 480px; height:480px;
}
tr,td{
    margin-left: auto; margin-right: auto;
    border: 0.5px solid black;
}
#r1,#r3,#r5,#r7,#r9,#r11,#r13,#r15,#r17,#r19,#r21,#r23{
    width: 40px; height: 26.7px; padding: 0; margin: 0;
    border: 0.5px solid black;
}
#r2,#r4,#r6,#r8,#r10,#r12,#r14,#r16,#r18,#r20,#r22{
    width: 40px; height: 13.3px; padding: 0; margin: 0;
    border: 0.5px solid black;
}
table .icon{
    padding-top: 10px;
}
.right{
    justify-content: flex-end;
    display: inline-flex;
    width: 49%; height: 81.2%;
    margin-bottom: 1%;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.right_blank{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 90px;
    /* border: 1px solid red; */
}
.right1{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    height: 4.35%;
    /* border: 1px solid red; */
}
.right2{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 4.35%;
    padding: 1%;
    /* border: 1px solid red; */
}
.select_travel{
    justify-content: center;
    display: flex;
    width: 70%; margin: 1%;
    background-color: whitesmoke;
    color: #dba522;
    text-align: center;
    font-size: large;
}
.select_food{
    justify-content: center;
    display: flex;
    width: 70%; margin: 1%;
    background-color: whitesmoke;
    color: #dba522;
    text-align: center;
    font-size: large;
}
.right3{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 610px; padding: 1%;
    border: 1px solid black;
}
.bottom{
    justify-content: center;
    display: flex;
    height: 8.4%;
    width: 98%;
    /* border: 1px solid red; */
}
.bottom img{
    margin: 1%;
}
.puzzle_travel{
    justify-content: center;
    display: flex;
    font-size: 20px; color: black;
    width: 100%; height: 30px;
}
.puzzle_food{
    justify-content: center;
    display: flex;
    font-size: 20px; color: black;
    width: 100%; height: 30px;
}
 /* 스마트폰 가로 */
 @media only screen and (min-width : 321px) {
}

 /* 스마트폰 세로 */
@media only screen and (max-width : 320px) {
}

/* 데스크탑 브라우저 가로 */
@media only screen and (min-width : 1224px) {
}

/* 큰 모니터 */
@media only screen and (min-width : 1824px) {
}