@font-face { font-family: '국립박물관문화재단클래식B';
                 src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') 
                 format('woff'); 
                 font-weight: normal; 
                 font-style: normal; }
                 @font-face { font-family: 'NanumBarunGothic'; 
                    font-style: normal; 
                    font-weight: 400; 
                    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); 
                    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') 
                    format('embedded-opentype'), 
                    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') 
                    format('woff'), 
                    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') 
                    format('truetype'); } 
                    @font-face { font-family: 'NanumBarunGothic'; 
                        font-style: normal; font-weight: 700; 
                        src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); 
                        src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') 
                        format('embedded-opentype'), 
                        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') 
                        format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') 
                        format('truetype') } 
                        @font-face { font-family: 'NanumBarunGothic'; font-style: normal; 
                            font-weight: 300; 
                            src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); 
                            src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') 
                            format('embedded-opentype'), 
                            url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') 
                            format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') 
                            format('truetype'); } .nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }

#jb-container {
  width: 1024px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #bcbcbc;
}
#jb-header {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
}
#jb-content {
  width: 465px;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #bcbcbc;
}
#jb-sidebar {
  width: 465px;
  padding: 20px;
  margin-bottom: 20px;
  float: right;
  border: 1px solid #bcbcbc;
}
#jb-footer {
  clear: both;
  padding: 20px;
  border: 1px solid #bcbcbc;
}
@media ( max-width: 480px ) {
  #jb-container {
    width: auto;
  }
  #jb-content {
    float: none;
    width: auto;
  }
  #jb-sidebar {
    float: none;
    width: auto;
  }
}