/* FONT */
@font-face { font-family: '국립박물관문화재단클래식B';
                 src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') 
                 format('woff'); 
                 font-weight: normal; 
                 font-style: normal; }
                 @font-face { font-family: 'NanumBarunGothic'; 
                    font-style: normal; 
                    font-weight: 400; 
                    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); 
                    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') 
                    format('embedded-opentype'), 
                    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') 
                    format('woff'), 
                    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') 
                    format('truetype'); } 
                    @font-face { font-family: 'NanumBarunGothic'; 
                        font-style: normal; font-weight: 700; 
                        src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); 
                        src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') 
                        format('embedded-opentype'), 
                        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') 
                        format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') 
                        format('truetype') } 
                        @font-face { font-family: 'NanumBarunGothic'; font-style: normal; 
                            font-weight: 300; 
                            src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); 
                            src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') 
                            format('embedded-opentype'), 
                            url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') 
                            format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') 
                            format('truetype'); } .nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }

body{
  background-color: #dba522;
}
#header {
  /* 레이어 */
  padding: 2%;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
  top: 0px; left: 1%;
  width: 96%;
  position: fixed; z-index: 999;
  /* 폰트 */
  color: rgba(29, 29, 29, 0.781);
  font-family: '국립박물관문화재단클래식B';
  text-align: center;
  font-size: 50px;
  /* 배경 */
  background-color: #dba522;
}
#content {
  width: 44%;
  top: 18%; left: 1%;
  padding: 2%;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #bcbcbc;
  position: fixed;
}
#sidebar {
  display: block;
  float: right;
  width: 44%;
  top: 18%; right: 1%;
  padding: 2%;
  margin-bottom: 20px;
  margin: 0 auto;
  border: 1px solid #bcbcbc;
}
#sidebar1{
  width: 100%; 
}
a#sidebar1{
  margin: 50%;
}
#sidebar2{
  width: 44%;
}
#footer {
  clear: both;
  padding: 20px;
  border: 1px solid #bcbcbc;
}
/* 모바일 */
@media ( max-width: 480px ) {
  #container {
    width: auto;
  }
  #content {
    float: none;
    width: auto;
  }
  #sidebar {
    float: none;
    width: auto;
  }
}