@font-face { font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; }
    @font-face { font-family: 'NanumBarunGothic'; 
       font-style: normal; 
       font-weight: 400; 
       src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); 
       src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') 
       format('embedded-opentype'), 
       url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') 
       format('woff'), 
       url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') 
       format('truetype'); } 
       @font-face { font-family: 'NanumBarunGothic'; 
           font-style: normal; font-weight: 700; 
           src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); 
           src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') 
           format('embedded-opentype'), 
           url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') 
           format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') 
           format('truetype') } 
           @font-face { font-family: 'NanumBarunGothic'; font-style: normal; 
               font-weight: 300; 
               src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); 
               src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') 
               format('embedded-opentype'), 
               url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') 
               format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') 
               format('truetype'); } .nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }
body{
    background-color: #dba522;
    font-family: 'NanumBarunGothic';
}
.top{
    justify-content: center;
    display: flex;
    margin-bottom: 1%;
    height: 40px;
    /* border: 1px solid red; */
}
.top img{
    width: 100%;
    position: fixed;
}
.left{
    justify-content: center;
    display: inline-flex;
    width: 49%; height: 81.2%;
    margin-bottom: 1%;
    flex-wrap: wrap;
}

.right{
    justify-content: flex-end;
    display: inline-flex;
    width: 49%; height: 81.2%;
    margin-bottom: 1%;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.right1{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    /* height: 4.35%;*/
    /* border: 1px solid red; */
}
.right2{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 4.35%;
    padding: 1%;
    /* border: 1px solid red; */
}
.right2 img{
    margin: 10px;
}
.select_travel{
    justify-content: center;
    display: flex;
    width: 70%; margin: 1%;
    background-color: whitesmoke;
    color: #dba522;
    text-align: center;
    font-size: 20px;
}

.select_food{
    justify-content: center;
    display: flex;
    width: 70%; margin: 1%;
    background-color: whitesmoke;
    color: #dba522;
    text-align: center;
    font-size: 20px;
}
.select_map{
    justify-content: center;
    display: flex;
    width: 70%; margin: 1%;
    background-color: whitesmoke;
    color: #dba522;
    text-align: center;
    font-size: 20px;
}
.right3{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 610px; padding: 1%;
    /* border: 1px solid black; */
}
.travel_if{
    width: 70%; height: 100%;
}
.travel_im{
    width: 30%;
}
.food_if{
    width: 70%; height: 100%;
}
.food_im{
    width: 30%; 
}
.map_if{
    width: 100%;
}
.bottom{
    justify-content: center;
    display: flex;
    height: 8.4%;
    width: 98%;
    /* border: 1px solid red; */
}
.bottom img{
    margin: 1%;
}
.puzzle_travel{
    justify-content: center;
    display: flex;
    font-size: 20px; color: black;
    width: 35%; height: 30px;
}
.puzzle_food{
    justify-content: center;
    display: flex;
    font-size: 20px; color: black;
    width: 35%; height: 30px;
}
.puzzle_map{
    justify-content: center;
    display: flex;
    font-size: 20px; color: black;
    width: 35%; height: 30px;
}
@media all and (max-width:768px) {
    .left-map{
        position: fixed;
        overflow: hidden;
        white-space: nowrap;
        top: 11%;
        width: 250px; height:800px;
        /* border: 1px solid blue; */
    }
    .day_change {
        margin : 0 auto;
        overflow : hidden;
        white-space : nowrap; /* 줄바꿈 금지(이미지를 한줄로) */
    }
    .right1 img{
        width: 60px; height: 60px;
    }
    .right_blank{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        height: 70px;
        /* border: 1px solid red; */
    }
    .bottom{
        justify-content: center;
        display: flex;
        height: 5%;
        width: 98%;
        /* border: 1px solid red; */
    }
    .left-map{
        position: fixed;
        overflow: hidden;
        white-space: nowrap;
        top: 11%;
        width: 400px; height:1000px;
        /* border: 1px solid blue; */
    }
    .day_change {
        margin : 0 auto;
        overflow : hidden;
        white-space : nowrap; /* 줄바꿈 금지(이미지를 한줄로) */
    }
    .right_blank{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        height: 70px;
        /* border: 1px solid red; */
    }
    .right1 img{
        width: 80px; height: 80px;
    }
    .bottom{
        justify-content: center;
        display: flex;
        height: 3%;
        width: auto;
        /* border: 1px solid red; */
    }
    .day_trip img{
        width: 60px;
    }
    .day_trans img{
        height: 50px;
    }
    .day{
        margin-top: 60px;
        display: inline-flex; flex-wrap: wrap;
        width: 360px; height: 210px;
        /* border: 2px solid rgb(243, 71, 100); */
    }
    .day_container{
        width: 36px; height: 60px;
    }
    .day_container1{
        width: 36px; height: 60px;
    }
    .day_container_blank{
        width: 36px; height: 84px;
    }
    .day_lodge{
        width: 36px; height: 36px;
        /* border: 0.1px solid red; */
    }
    .day_trip{
        width: 36px; height: 36px;
        /* border: 0.1px solid red; */
    }
    .day_trans{
        width: 36px; height: 36px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_trans_sideh{
        width: 36px; height: 60px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경sideh.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_trans_sidel{
        width: 36px; height: 60px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경sidel.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_blank{
        align-content: center;
        width: 164px; height: 84px;
        padding-left: 160px;
        /* border: 0.1px solid red; */
    }
    .day_text{
        width: 36px; height: 24px;
        padding-top: 1px;
        white-space: pre-wrap;
        text-align: center;
        /* border: 0.1px solid red; */
    }
    .day_text1{
        width: 36px; height: 24px;
        padding-top: 1px;
        white-space: pre-wrap;
        /* border: 0.1px solid red; */
    }
    .day_route{
        width: 36px; height: 24px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경route.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
@media all and (min-width:768px) {
    .left-map{
        position: fixed;
        overflow: hidden;
        white-space: nowrap;
        top: 11%;
        width: 400px; height:1000px;
        /* border: 1px solid blue; */
    }
    .day_change {
        margin : 0 auto;
        overflow : hidden;
        white-space : nowrap; /* 줄바꿈 금지(이미지를 한줄로) */
    }
    .right_blank{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        height: 70px;
        /* border: 1px solid red; */
    }
    .right1 img{
        width: 80px; height: 80px;
    }
    .bottom{
        justify-content: center;
        display: flex;
        height: 3%;
        width: auto;
        /* border: 1px solid red; */
    }
    .day_trip img{
        width: 60px;
    }
    .day_trans img{
        height: 50px;
    }
    .day{
        margin-top: 60px;
        display: inline-flex; flex-wrap: wrap;
        width: 360px; height: 210px;
        /* border: 2px solid rgb(243, 71, 100); */
    }
    .day_container{
        width: 36px; height: 60px;
    }
    .day_container1{
        width: 36px; height: 60px;
    }
    .day_container_blank{
        width: 36px; height: 84px;
    }
    .day_lodge{
        width: 36px; height: 36px;
        /* border: 0.1px solid red; */
    }
    .day_trip{
        width: 36px; height: 36px;
        /* border: 0.1px solid red; */
    }
    .day_trans{
        width: 36px; height: 36px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_trans_sideh{
        width: 36px; height: 60px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경sideh.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_trans_sidel{
        width: 36px; height: 60px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경sidel.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_blank{
        align-content: center;
        width: 164px; height: 84px;
        padding-left: 160px;
        /* border: 0.1px solid red; */
    }
    .day_text{
        width: 36px; height: 24px;
        padding-top: 1px;
        white-space: pre-wrap;
        text-align: center;
        /* border: 0.1px solid red; */
    }
    .day_text1{
        width: 36px; height: 24px;
        padding-top: 1px;
        white-space: pre-wrap;
        /* border: 0.1px solid red; */
    }
    .day_route{
        width: 36px; height: 24px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경route.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
@media all and (min-width:1280px){
    .left-map{
        position: fixed;
        overflow: hidden;
        white-space: nowrap;
        top: 15%;
        width: 600px; height:440px;
        /* border: 1px solid blue; */
    }
    .day_change {
        margin : 0 auto;
        overflow : hidden;
        white-space : nowrap; /* 줄바꿈 금지(이미지를 한줄로) */
    }
    .right_blank{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        height: 90px;
    }
    .right1 img{
        width: 120px; height: 120px;
    }
    .day_trip img{
        width: 60px;
    }
    .day_trans img{
        height: 50px;
    }
    .day{
        margin-top: 50px;
        display: inline-flex; flex-wrap: wrap;
        width: 600px; height: 350px;
        /* border: 2px solid rgb(243, 71, 100); */
    }
    .day_container{
        width: 60px; height: 100px;
    }
    .day_container1{
        width: 60px; height: 100px;
    }
    .day_container_blank{
        width: 60px; height: 140px;
    }
    .day_lodge{
        width: 60px; height: 60px;
        /* border: 0.1px solid red; */
    }
    .day_trip{
        width: 60px; height: 60px;
        /* border: 0.1px solid red; */
    }
    .day_trans{
        width: 60px; height: 60px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_trans_sideh{
        width: 60px; height: 100px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경sideh.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_trans_sidel{
        width: 60px; height: 100px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경sidel.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_blank{
        align-content: center;
        width: 340px; height: 140px;
        padding-left: 200px;
        /* border: 0.1px solid red; */
    }
    .day_text{
        width: 60px; height: 40px;
        padding-top: 1px;
        white-space: pre-wrap;
        text-align: center;
        /* border: 0.1px solid red; */
    }
    .day_text1{
        width: 60px; height: 40px;
        padding-top: 1px;
        white-space: pre-wrap;
        /* border: 0.1px solid red; */
    }
    .day_route{
        width: 60px; height: 40px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경route.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}
@media all and (min-width:1360px){
    .left-map{
        position: fixed;
        top: 15%;
        width: 650px; height:480px;
        /* border: 1px solid blue; */
    }
    .day_change {
        margin : 0 auto;
        overflow : hidden;
        white-space : nowrap; /* 줄바꿈 금지(이미지를 한줄로) */
    }
    .right_blank{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        /* border: 1px solid red; */
    }
    .right1 img{
        width: 120px; height: 120px;
    }
    .day_trip img{
        width: 64px;
    }
    .day_trans img{
        height: 50px;
    }
    .day{
        margin-top: 30px;
        display: inline-flex; flex-wrap: wrap;
        width: 648px; height: 370px;
        /* border: 2px solid rgb(243, 71, 100); */
    }
    .day_container{
        width: 64.5px; height: 107.5px;
    }
    .day_container1{
        width: 64.5px; height: 107.5px;
    }
    .day_container_blank{
        width: 64.5px; height: 150.5px;
    }
    .day_lodge{
        width: 64.5px; height: 64.5px;
        /* border: 0.1px solid red; */
    }
    .day_trip{
        width: 64.5px; height: 64.5px;
        /* border: 0.1px solid red; */
    }
    .day_trans{
        width: 64.5px; height: 64.5px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_trans_sideh{
        width: 64.5px; height: 107.5px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경sideh.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_trans_sidel{
        width: 64.5px; height: 107.5px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경sidel.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_blank{
        align-content: center;
        width: 380.5px; height: 150.5px;
        padding-left: 200px;
        /* border: 0.1px solid red; */
    }
    .day_text{
        width: 64.5px; height: 42px;
        padding-top: 1px;
        white-space: pre-wrap;
        text-align: center;
        /* border: 0.1px solid red; */
    }
    .day_text1{
        width: 64.5px; height: 42px;
        padding-top: 1px;
        white-space: pre-wrap;
        /* border: 0.1px solid red; */
    }
    .day_route{
        width: 64.5px; height: 43px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경route.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}

@media all and (min-width:1900px) {
    .left-map{
        position: fixed;
        overflow: hidden;
        white-space: nowrap;
        top: 16%;
        width: 920px; height:710px;
        /* border: 1px solid blue; */
    }
    .day_change {
        margin : 0 auto;
        overflow : hidden;
        white-space : nowrap; /* 줄바꿈 금지(이미지를 한줄로) */
    }
    .right_blank{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        height: 130px;
        /* border: 1px solid red; */
    }
    .right1 img{
        width: 120px; height: 120px;
    }
    .day_trip img{
        width: 90px;
    }
    .day_trans img{
        height: 50px;
    }
    .day{
        margin-top: 100px; margin-left: 10px;
        display: inline-flex; flex-wrap: wrap;
        width: 900px; height: 510px;
        /* border: 2px solid rgb(243, 71, 100); */
    }
    .day_container{
        width: 90px; height: 150px;
    }
    .day_container1{
        width: 90px; height: 150px;
    }
    .day_container_blank{
        width: 90px; height: 210px;
    }
    .day_lodge{
        width: 90px; height: 90px;
        /* border: 0.1px solid red; */
    }
    .day_trip{
        width: 90px; height: 90px;
        /* border: 0.1px solid red; */
    }
    .day_trans{
        width: 90px; height: 90px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_trans_sideh{
        width: 90px; height: 150px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경sideh.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_trans_sidel{
        width: 90px; height: 150px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경sidel.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .day_blank{
        align-content: center;
        width: 410px; height: 210px;
        padding-left: 400px;
        /* border: 0.1px solid red; */
    }
    .day_text{
        width: 90px; height: 60px;
        padding-top: 1px;
        white-space: pre-wrap;
        text-align: center;
        /* border: 0.1px solid red; */
    }
    .day_text1{
        width: 90px; height: 60px;
        padding-top: 1px;
        white-space: pre-wrap;
        /* border: 0.1px solid red; */
    }
    .day_route{
        width: 90px; height: 60px;
        /* border: 0.1px solid red; */
        background-image: url(img/배경route.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}


  