*{
    margin: 0px;
    padding: 0px;
}
@font-face { font-family: '국립박물관문화재단클래식B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') 
  format('woff'); 
  font-weight: normal; 
  font-style: normal; }
  @font-face { font-family: 'NanumBarunGothic'; 
     font-style: normal; 
     font-weight: 400; 
     src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); 
     src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') 
     format('embedded-opentype'), 
     url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') 
     format('woff'), 
     url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') 
     format('truetype'); } 
     @font-face { font-family: 'NanumBarunGothic'; 
         font-style: normal; font-weight: 700; 
         src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); 
         src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') 
         format('embedded-opentype'), 
         url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') 
         format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') 
         format('truetype') } 
         @font-face { font-family: 'NanumBarunGothic'; font-style: normal; 
             font-weight: 300; 
             src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); 
             src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') 
             format('embedded-opentype'), 
             url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') 
             format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') 
             format('truetype'); } .nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }
body{
  background-color: #dba522;
  font-family: 'NanumBarunGothic';
}
.left{
  justify-content: center;
  display: inline-flex;
  width: 19%;
  height: 100%;
  position: fixed;
  left:0;
  border: 1px solid white;
}
.mid{
  justify-content: center;
  display: inline-flex;
  width: 39%;
  height: 100%;
  position: fixed;
  left: 20%;
  border: 1px solid white;
}
.right{
  justify-content: center;
  display: inline-flex;
  width: 39%;
  height: 100%;
  position: fixed;
  left: 60%;
  flex-wrap: wrap;
  border: 1px solid red;
}
.right-login{
  justify-content: center;
  display: flex;
  width: 39%;
  height: 25%;
  position: fixed;
  flex-wrap: wrap;
  border: 1px solid white;
}
.right-login h1{
  justify-content: center;
  position: relative;
  height: 20%;
  top: 20%;
  left: 35%;
  font-size: large;
  font-weight: bold;
}
.login{
  justify-content: center;
  position: relative;
  width:70%;
  top: 40%;
}
.right-login .login .login1{
  float: left; 
  width: 20%;
  height: 20%;
  position: fixed;
}
.right-login .login .login1 input{
  width: 70%;
  height: 20%;
  margin: 1.5%;
  border-radius: 10px;
}
.right-login .login .login2{
  float: right;
  width: 40%;
  height: 45%;
  margin:0.5%;
}
.right-login .login .login2 input{
  width:50%;
  height:100%; 
  border-radius: 20px;
}
.right-signup{
  justify-content: center;
  display: flex;
  width: 39%;
  height: 74%;
  position: fixed;
  top: 26%; 
  flex-wrap: wrap;
  border: 1px solid white;
}
.right-signup h1{
  justify-content: center;
  position: relative;
  height: 10%;
  top: 5%;
  left: 35%;
  font-size: large;
  font-weight: bold;
}
.signup{
  justify-content: center;
  position: relative;
  width:70%;
  top: 20%;
}
caption{caption-side: bottom;}
table{
  border-collapse: collapse;
  
}
tbody{
  height: 50%;
}
  