*{
    margin: 0px;
    padding: 0px;
}
@font-face { font-family: '국립박물관문화재단클래식B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') 
  format('woff'); 
  font-weight: normal; 
  font-style: normal; }
  @font-face { font-family: 'NanumBarunGothic'; 
     font-style: normal; 
     font-weight: 400; 
     src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); 
     src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') 
     format('embedded-opentype'), 
     url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') 
     format('woff'), 
     url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') 
     format('truetype'); } 
     @font-face { font-family: 'NanumBarunGothic'; 
         font-style: normal; font-weight: 700; 
         src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); 
         src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') 
         format('embedded-opentype'), 
         url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') 
         format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') 
         format('truetype') } 
         @font-face { font-family: 'NanumBarunGothic'; font-style: normal; 
             font-weight: 300; 
             src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); 
             src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') 
             format('embedded-opentype'), 
             url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') 
             format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') 
             format('truetype'); } .nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }
body{
  padding:0px;
  margin:0px 0px 0 0;
  background-color: #dba522;
}
.ht-container{
  
  position: relative;
  /*margin: 0 auto;*/ 
  text-align: center;
  display: table;
  background-color: #dba522;
  font-family: 'NanumBarunGothic';
} 
#header{
  position: relative;
  
  max-width: 1200px;
 
  width:100%;
  height: 33px;
  background: #000;
}
#ht-sidebar-left{
  outline: 2px solid rgb(255, 255, 255);
  float: left;
  width: 200px;
  margin:10px 10px 10px 10px;
   /*auto로 변경예정*/
}
#ht-sidebar-left #ht-sidebar-left1{
  float: left;
  width:100px;
  position: relative;
  
  
}

#ht-content{
  outline: 2px solid rgb(255, 255, 255);
  position: relative;
  width: 500px;
  margin: 10px 0px 10px 10px;
  float: left;
  }
#ht-sidebar-right{
  outline: 2px solid rgb(255, 255, 255);
  position: relative;
  margin: 10px 10px 20px 20px;
  width: 300px;
  float: right;
  color:black;
}
#ht-sidebar-right #right_contents{
  margin:25px 50px 0 50px;
  padding:0;
  font-size: 10px;
}
#right_contents .login{

}
#right_contents .login_button{
  
}
#right_contents .signup{
  position: relative;
  top:10px;
}
#right_contents .signup table{
  table-layout: fixed;
}
table{
  width: auto;
  border:0;
  border-spacing: 0;
  border-collapse: collapse;
}
th{

}

/*#login{
  float:left;
}
#login_button{
  float: right;
}*/
  