* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'),
        url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
}

body {
    background-color: #dba522;
    font-family: 'NanumBarunGothic';
    
}
.ui-datepicker{ font-size: 10px;}
.ui-datepicker select.ui-datepicker-month{font-size: 11px; }
.ui-datepicker select.ui-datepicker-year{font-size: 11px; }


.left {
    justify-content: center;
    display: inline-flex;
    width: 19%;
    height: 100%;
    position: fixed;
    left: 0;
    border: 1px solid white;
}

.mid {
    justify-content: center;
    display: inline-flex;
    width: 44%;
    height: 100%;
    position: fixed;
    left: 20%;
    border: 1px solid white;
}
.right {
    justify-content: center;
    display: inline-flex;
    width: 33%;
    height: 100%;
    position: fixed;
    left: 65%;
    flex-wrap: wrap;
    border: 1px solid white;
}
input[type=text]{
    align-items: center;
    width:30%;
    box-sizing: border-box;
    
}
input[type=text]:focus{
    background-color: gainsboro;
}

.right1{
    justify-content: center;
    display: inline-flex;
    width: 20%;
    padding: 1%;
    position: fixed;
    /* border: 1px solid white; */
}

.rightc{
    width: 31%;
    height: 87%;
    top: 10%;
    position: fixed;
    left: 66%;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-flex;
    /* border: 1px solid white; */
}
.rightc #from, #to{
    display: inline-block;
}

@media all and (max-width:768px) {
    
    .right1 p#title{
       font-size: 28px;
       text-align: center;
   }
   .rightc{
    text-align: center;
    }
   .rightc #from, #to{
       font-size: 5px;
   }
}
@media all and (min-width:768px) {
    
    .right1 p#title{
       font-size: 20px;
       text-align: center;
   }
   .rightc{
        text-align: center;
    }
   .rightc #from, #to{
    
       font-size: 4px;
       
   }
   .rightc #from_date, #to_date{
        width:28%;
        height: 21px;
        margin: 2px 2px;
        text-align: center;
    }
    .rightc #etime, #stime{
        width:20%;
        height: 21px;
        margin:2px 23px 2px 5px;
        text-align: center;
    }
    .rightc #splace{
        width:70%;
        height: 21px;
        margin: 2px 8px;
    }
    .rightc p#otherperson{
        font-size: 10px;
    }
    .rightc #adult, #schoolchildren, #preschoolchildren{
        width:12%;
        height: 21px;
        margin: 2px 5px 2px 2px;
    }
}
@media all and (min-width:1280px){
    .right1 p#title{
        font-size: 25px;
        text-align: center;
    }
    .rightc{
        text-align: center;
    }
   .rightc #from, #to{
    display: inline-block;  
       font-size: 11px;
   }
   .rightc #from_date, #to_date{
        width:33%;
        height: 21px;
        margin: 3px 3px;
        text-align: center;
    }
    .rightc #etime, #stime{
        width:23%;
        height: 21px;
        margin:3px 28px 3px 10px;
        text-align: center;
   }
   .rightc #splace{
        width:70%;
        height: 21px;
        margin: 3px 8px;
    }
    .rightc p#otherperson{
        font-size: 10px;
    }
    .rightc #adult, #schoolchildren, #preschoolchildren{
        width:15%;
        height: 21px;
        margin: 3px 8px 3px 3px;
    }
}
@media all and (min-width:1360px){
    .right1 p#title{
       font-size: 30px;
       text-align: center;
   }
   .rightc{
        text-align: center;
    }
   .rightc #from, #to{
    display: inline-block;
       font-size: 11px;
   }
   .rightc #from_date, #to_date{
        width:35%;
        height: 25px;
        margin: 3px 3px;
        text-align: center;
    }
    .rightc #etime, #stime{
        width:25%;
        height: 25px;
        margin:3px 28px 3px 10px;
        text-align: center;
   }
   .rightc #splace{
        width:80%;
        height: 25px;
        margin: 3px 8px;
    }
    .rightc p#otherperson{
        font-size: 10px;
    }
    .rightc #adult, #schoolchildren, #preschoolchildren{
        width:16%;
        height: 27px;
        margin: 3px 8px 3px 3px;
    }


}

@media all and (min-width:1900px) {
    
    .right1 p#title{
       font-size:40px;
       text-align: center;
   }
   .rightc{
        text-align: center;
    }
   .rightc #from, #to{
    display: inline-block;
       font-size: 16px;
   }
   .rightc #from_date, #to_date{
       width:37%;
       height: 30px;
       margin: 5px 5px;
       text-align: center;
   } 
   .rightc #etime, #stime{
        width:20%;
        height: 30px;
        margin:5px 30px 5px 10px;
        text-align: center;
   }
   .rightc #splace{
       width:75%;
       height: 30px;
       margin: 5px 10px;
   }
   .rightc p#otherperson{
        font-size: 15px;
}
   .rightc #adult, #schoolchildren, #preschoolchildren{
        width:20%;
        height: 30px;
        margin: 5px 10px 5px 5px;
   }
  
}